
<img href="burger-icon-png.png">

<h2>Eat-Da-Burger!</h2>

<form class="create-form">

  <div class="form-group">
 
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Submit</button>
</form>

<p>Enter a burger you want to eat, click the Submit button.</p>

